body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
.visibility-hidden
{
   visibility: hidden;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #643670;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_header
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(100,54,112,0.92);
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#header
{
   box-sizing: border-box;
   padding: 8px 15px 8px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#header > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#header > .row > .col-1, #header > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#header > .row > .col-1, #header > .row > .col-2
{
   float: left;
}
#header > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#header > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: right;
}
#header:before,
#header:after,
#header .row:before,
#header .row:after
{
   display: table;
   content: " ";
}
#header:after,
#header .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#header > .row > .col-1, #header > .row > .col-2
{
   float: none;
   width: 100%;
}
}
#wb_headerIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_headerIcon1 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#headerIcon1
{
   height: 33px;
   width: 24px;
}
#headerIcon1 i
{
   color: #37414B;
   display: inline-block;
   font-size: 24px;
   line-height: 33px;
   vertical-align: middle;
   width: 23px;
}
#wb_headerIcon1:hover #headerIcon1 i
{
   color: #FFFFFF;
}
#wb_headerIcon1
{
   transition: all 500ms linear 0ms;
}
#headerLabel1
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   box-sizing: border-box;
   margin: 0;
   text-align: left;
   vertical-align: top;
   padding: 8px 4px 8px 4px;
}
#headerLabel1:focus
{
   outline: 0;
}
#wb_headerIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_headerIcon2 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#headerIcon2
{
   height: 33px;
   width: 24px;
}
#headerIcon2 i
{
   color: #37414B;
   display: inline-block;
   font-size: 24px;
   line-height: 33px;
   vertical-align: middle;
   width: 23px;
}
#wb_headerIcon2:hover #headerIcon2 i
{
   color: #FFFFFF;
}
#wb_headerIcon2
{
   transition: all 500ms linear 0ms;
}
#headerLabel2
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   box-sizing: border-box;
   margin: 0;
   text-align: left;
   vertical-align: top;
   padding: 8px 4px 8px 4px;
}
#headerLabel2:focus
{
   outline: 0;
}
#wb_navigation
{
   clear: both;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   z-index: 7776;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#navigation
{
   box-sizing: border-box;
   padding: 20px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#navigation > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#navigation > .row > .col-1, #navigation > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#navigation > .row > .col-1, #navigation > .row > .col-2
{
   float: left;
}
#navigation > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#navigation > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 75%;
   text-align: left;
}
#navigation:before,
#navigation:after,
#navigation .row:before,
#navigation .row:after
{
   display: table;
   content: " ";
}
#navigation:after,
#navigation .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#navigation > .row > .col-1, #navigation > .row > .col-2
{
   float: none;
   width: 100%;
}
}
.navigationMenu .nav
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   color: #777777;
   text-align: left;
}
#navigationMenu, .navigationMenu .nav, .navigationMenu *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.navigationMenu .nav:before,
.navigationMenu .nav:after 
{
   content: " ";
   display: table;
}
.navigationMenu .nav:after 
{
   clear: both;
}
.navigationMenu .nav a 
{
   text-decoration: none;
}
.navigationMenu .nav ul
{
   margin-top: 0;
   margin-bottom: 0;
}
.navigationMenu .nav ul ul
{
   margin-bottom: 0;
}
.navigationMenu .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.navigationMenu .container:before,
.navigationMenu .container:after 
{
   content: " ";
   display: table;
}
.navigationMenu .container:after 
{
   clear: both;
}
.navigationMenu .collapse 
{
   display: none;
}
.navigationMenu .collapse.show 
{
   display: block;
}
.navigationMenu .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   transition: height .35s ease;
}
.navigationMenu .caret, .navigationMenu .caret-right
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.navigationMenu .dropdown 
{
   position: relative;
}
.navigationMenu .dropdown-toggle:focus 
{
   outline: 0;
}
.navigationMenu .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 13px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid rgba(197,197,197,1.00);
   border-radius: 0px;
   background-clip: padding-box;
}
.navigationMenu .dropdown-menu .divider
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.navigationMenu .dropdown-menu>li>a 
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #777777;
   white-space: nowrap;
}
.navigationMenu .dropdown-menu>li>a:hover,
.navigationMenu .dropdown-menu>li>a:focus 
{
   text-decoration: none;
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.navigationMenu .dropdown-menu>li>a.active,
.navigationMenu .dropdown-menu>li>a.active:hover,
.navigationMenu .dropdown-menu>li>a.active:focus
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
   text-decoration: none;
   outline: 0;
}
.navigationMenu .show>.dropdown-menu 
{
   display: block;
}
.navigationMenu .show>a 
{
   outline: 0;
}
.navigationMenu .dropdown-header 
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.navigationMenu .dropdown-backdrop 
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.navigationMenu .nav>li 
{
   position: relative;
   display: block;
}
.navigationMenu .nav>li>a
{
   position: relative;
   display: block;
   padding: 10px 15px 10px 15px;
}
.navigationMenu .nav .show>a,
.navigationMenu .nav .show>a:hover,
.navigationMenu .nav .show>a:focus 
{
    border-color: #343A40;
}
.navigationMenu .nav .nav-divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #C5C5C5;
}
.navigationMenu .nav .caret 
{
   border-top-color: #343A40;
   border-bottom-color: #343A40;
}
.navigationMenu
{
   position: relative;
}
.navigationMenu:before,
.navigationMenu:after
{
   content: " ";
   display: table;
}
.navigationMenu:after
{
   clear: both;
}
.navigationMenu .navbar-header:before,
.navigationMenu .navbar-header:after
{
   content: " ";
   display: table;
}
.navigationMenu .navbar-header:after
{
   clear: both;
}
.navigationMenu-navbar-collapse 
{
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.navigationMenu-navbar-collapse:before,
.navigationMenu-navbar-collapse:after
{
   content: " ";
   display: table;
}
.navigationMenu-navbar-collapse:after
{
   clear: both;
}
.navigationMenu-navbar-collapse.show 
{
   overflow-y: auto;
}
.navigationMenu .navbar-toggle 
{
   position: relative;
   float: right;
   padding: 9px 10px 8px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
}
.navigationMenu .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.navigationMenu .navbar-toggle .icon-bar+.icon-bar
{
   margin-top: 4px;
}
.navigationMenu .navbar-nav
{
   margin: 6px -15px;
}
.navigationMenu .navbar-nav>li>.dropdown-menu
{
   margin-top: 0;
}
.navigationMenu .navbar-nav>li>a
{
   color: #777777;
}
.navigationMenu .navbar-nav>li>a:hover,
.navigationMenu .navbar-nav>li>a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
   text-decoration: none;
}
.navigationMenu .navbar-nav>li>a.active,
.navigationMenu .navbar-nav>li>a.active:hover,
.navigationMenu .navbar-nav>li>a.active:focus
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.navigationMenu .navbar-toggle
{
   border: 1px solid transparent;
}
.navigationMenu .navbar-toggle:hover,
.navigationMenu .navbar-toggle:focus
{
   background-color: transparent;
}
.navigationMenu .navbar-toggle .icon-bar
{
   background-color: #4D935F;
}
.navigationMenu-navbar-collapse
{
   border-color: rgba(197,197,197,1.00);
}
.navigationMenu .navbar-nav>.dropdown>a:hover .caret,
.navigationMenu .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.navigationMenu .navbar-nav>.show>a,
.navigationMenu .navbar-nav>.show>a:hover,
.navigationMenu .navbar-nav>.show>a:focus
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
.navigationMenu .navbar-nav>.show>a .caret,
.navigationMenu .navbar-nav>.show>a:hover .caret,
.navigationMenu .navbar-nav>.show>a:focus .caret
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.navigationMenu .navbar-nav>.dropdown>a .caret
{
   border-top-color: #777777;
   border-bottom-color: #777777;
}
.navigationMenu .navbar-link
{
   color: #777777;
}
.navigationMenu .navbar-link:hover
{
   color: #2B2B2B;
}
.navigationMenu .navbar-header
{
   color: #4D935F;
}
@media (min-width: 480px) 
{
.navigationMenu .navbar-right .dropdown-menu
{
   right: 0;
   left: auto;
}
.navigationMenu .navbar-header
{
   float: left;
}
.navigationMenu-navbar-collapse
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.navigationMenu-navbar-collapse.collapse
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.navigationMenu-navbar-collapse.show
{
   overflow-y: auto;
}
.navigationMenu .navbar-toggle
{
   display: none;
}
.navigationMenu .navbar-nav 
{
   float: right;
   margin: 0;
}
.navigationMenu .navbar-nav>li 
{
   float: left;
}
.navigationMenu .container>.navbar-header,
.navigationMenu .container>.navigationMenu-navbar-collapse
{
   margin-right: 0;
   margin-left: 0;
}
.navigationMenu .navbar-nav>.dropdown>a:hover .caret,
.navigationMenu .navbar-nav>.dropdown>a:focus .caret
{
   border-top-color: #28A7E9;
   border-bottom-color: #28A7E9;
}
}
@media (max-width: 480px) 
{
.navigationMenu 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(255,255,255,0.00);
}
.navigationMenu .navbar-nav
{
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
}
.navigationMenu .navbar-nav .show .dropdown-menu
{
   position: static !important;
   transform: translate3d(0px, 0px, 0px) !important;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.navigationMenu .navbar-nav .show .dropdown-menu>li>a,
.navigationMenu .navbar-nav .show .dropdown-menu .dropdown-header
{
   padding: 5px 15px 5px 15px;
}
.navigationMenu .navbar-nav .show .dropdown-menu>li>a 
{
   line-height: 20px;
}
}
@media (min-width: 480px) 
{
.navigationMenu 
{
   background-color: transparent;
   background-image: none;
   border: 1px solid rgba(255,255,255,0.00);
   border-radius: 0px;
}
.navigationMenu .navbar-nav>li>a
{
   color: #4D935F;
}
.navigationMenu .navbar-nav>li>a:hover,
.navigationMenu .navbar-nav>li>a:focus
{
   color: #28A7E9;
   background-color: #343A40;
   background-image: none;
}
.navigationMenu .navbar-nav>li>a.active,
.navigationMenu .navbar-nav>li>a.active:hover,
.navigationMenu .navbar-nav>li>a.active:focus
{
   color: #28A7E9;
   background-color: #343A40;
   background-image: none;
}
.navigationMenu .navbar-nav>.show>a,
.navigationMenu .navbar-nav>.show>a:hover,
.navigationMenu .navbar-nav>.show>a:focus
{
   background-color: #343A40;
   background-image: none;
   color: #28A7E9;
}
.navigationMenu .navbar-nav>.dropdown>a:hover .caret
{
   border-top-color: #28A7E9;
   border-bottom-color: #28A7E9;
}
.navigationMenu .navbar-nav>.dropdown>a .caret
{
   border-top-color: #4D935F;
   border-bottom-color: #4D935F;
}
.navigationMenu .navbar-nav > li > a.active > .caret,
.navigationMenu .navbar-nav > li > a.active:hover > .caret,
.navigationMenu .navbar-nav > li > a.active:focus > .caret
{
   border-top-color: #28A7E9;
   border-bottom-color: #28A7E9;
}
.navigationMenu .navbar-nav>.show>a .caret,
.navigationMenu .navbar-nav>.show>a:hover .caret,
.navigationMenu .navbar-nav>.show>a:focus .caret
{
   border-top-color: #28A7E9;
   border-bottom-color: #28A7E9;
}
.navigationMenu .navbar-link
{
   color: #4D935F;
}
.navigationMenu .navbar-link:hover 
{
   color: #fff;
}
}
#navigationMenu i
{
   font-size: 16px;
   position: relative;
   left: 0;
   top: 0;
   margin-right: 4px;
   width: 16px;
}
#wb_navigationMenu
{
   z-index: 1111 !important;
}
#wb_navigationHeading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: left;
}
#navigationHeading
{
   color: #777777;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   margin: 0;
   text-align: left;
}
#wb_CarouselGallery
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#CarouselGallery
{
   box-sizing: border-box;
   padding: 10px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#CarouselGallery > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#CarouselGallery > .row > .col-1, #CarouselGallery > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#CarouselGallery > .row > .col-1, #CarouselGallery > .row > .col-2
{
   float: left;
}
#CarouselGallery > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#CarouselGallery > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#CarouselGallery:before,
#CarouselGallery:after,
#CarouselGallery .row:before,
#CarouselGallery .row:after
{
   display: table;
   content: " ";
}
#CarouselGallery:after,
#CarouselGallery .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#CarouselGallery > .row > .col-1, #CarouselGallery > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_Carousel1
{
   background-color: #CCCCCC;
   background-image: none;
   border-radius: 0px;
   margin: 0;
}
#wb_Carousel1
{
   box-sizing: border-box;
width: 100%;   height: 355px;
}
#Carousel1
{
   position: relative;
   margin: 0;
   line-height: 1;
   height: 100%;
   box-sizing: border-box;
}
#Carousel1 .carousel-inner
{
   overflow: hidden;
   width: 100%;
   height: 100%;
   position: relative;
}
.carousel.pointer-event
{
   -ms-touch-action: pan-y;
   touch-action: pan-y;
}
#Carousel1 .carousel-inner::after
{
   display: block;
   clear: both;
   content: "";
}
#Carousel1 .carousel-inner > .carousel-item
{
   display: none;
   position: relative;
   float: left;
   width: 100%;
   margin-right: -100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   transition: transform 500ms ease-in-out;
   height: 100%;
   text-align: left;
}
#Carousel1 .carousel-item-next:not(.carousel-item-start), #Carousel1 .active.carousel-item-end
{
   transform: translateX(100%);
}
#Carousel1 .carousel-item-prev:not(.carousel-item-end), #Carousel1 .active.carousel-item-start
{
   transform: translateX(-100%);
}
#Carousel1 .carousel-item-inner
{
   padding: 0;
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   justify-content: center;
   height: 100%;
   box-sizing: border-box;
}
#Carousel1 .carousel-inner > .carousel-item > img, #Carousel1 .carousel-inner > .carousel-item > a > img
{
   display: block;
   line-height: 1;
}
#Carousel1 .carousel-inner > .active, #Carousel1 .carousel-inner > .carousel-item-next, #Carousel1 .carousel-inner > .carousel-item-prev
{
   display: block;
}
#Carousel1 .carousel-inner > .carousel-item-next, #Carousel1 .carousel-inner > .carousel-item-prev
{
   position: absolute;
   top: 0;
   width: 100%;
}
#Carousel1 .carousel-control
{
   display: flex;
   position: absolute;
   align-items: center;
   justify-content: center;
   left: 0;
   top: 0;
   bottom: 0;
   width: 15%;
   text-align: center;
   opacity: 0.5;
   cursor: pointer;
   z-index: 7776;
}
#Carousel1 .carousel-control.carousel-item-end
{
   left: auto;
   right: 0;
}
#Carousel1.carousel-control .carousel-control-prev-icon, #Carousel1 .carousel-control .carousel-control-next-icon
{
   display: inline-block;
   position: absolute;
   width: 20px;
   height: 20px;
   z-index: 5;
}
#Carousel1 .carousel-control:hover
{
   text-decoration: none;
   outline: 0;
   opacity: 1;
}
.sr-only
{
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0px, 0px, 0px, 0px);
   border: 0;
}
#Carousel1 .frame
{
   width: 455px;
   display: inline-block;
   float: left;
   height: 355px;
}
#Carousel1 .carousel-control-next, #Carousel1 .carousel-control-prev
{
   cursor: pointer;
   text-align: center;
   opacity: 0.5;
}
#Carousel1 .carousel-control-next-icon, #Carousel1 .carousel-control-prev-icon
{
   display: inline-block;
   width: 20px;
   height: 20px;
   background: transparent no-repeat center center;
   background-size: 100% 100%;
}
#Carousel1 .carousel-control-next:hover, #Carousel1 .carousel-control-prev:hover
{
   text-decoration: none;
   outline: 0;
   opacity: 1;
}
#Carousel1 .carousel-control-prev-icon
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%230000CD%22%20viewBox%3d%220%200%2080%2080%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M53%2020%20C53%2021%2c%2053%2021%2c%2053%2021%20C53%2022%2c%2053%2022%2c%2053%2022%20L35%2040%20L53%2057%20C53%2058%2c%2053%2058%2c%2053%2058%20C53%2059%2c%2053%2059%2c%2053%2059%20L51%2062%20C50%2062%2c%2050%2062%2c%2050%2062%20C49%2062%2c%2049%2062%2c%2049%2062%20L28%2041%20C27%2041%2c%2027%2040%2c%2027%2040%20C27%2039%2c%2027%2039%2c%2028%2039%20L49%2018%20C49%2018%2c%2049%2018%2c%2050%2018%20C50%2018%2c%2050%2018%2c%2051%2018%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
#Carousel1 .carousel-control:hover .carousel-control-prev-icon
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23FFFFFF%22%20viewBox%3d%220%200%2080%2080%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M53%2020%20C53%2021%2c%2053%2021%2c%2053%2021%20C53%2022%2c%2053%2022%2c%2053%2022%20L35%2040%20L53%2057%20C53%2058%2c%2053%2058%2c%2053%2058%20C53%2059%2c%2053%2059%2c%2053%2059%20L51%2062%20C50%2062%2c%2050%2062%2c%2050%2062%20C49%2062%2c%2049%2062%2c%2049%2062%20L28%2041%20C27%2041%2c%2027%2040%2c%2027%2040%20C27%2039%2c%2027%2039%2c%2028%2039%20L49%2018%20C49%2018%2c%2049%2018%2c%2050%2018%20C50%2018%2c%2050%2018%2c%2051%2018%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
#Carousel1 .carousel-control-next-icon
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%230000CD%22%20viewBox%3d%220%200%2080%2080%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M52%2039%20C53%2039%2c%2053%2039%2c%2053%2040%20C53%2040%2c%2053%2041%2c%2052%2041%20L32%2062%20C31%2062%2c%2031%2062%2c%2031%2062%20C30%2062%2c%2030%2062%2c%2030%2062%20L27%2059%20C27%2059%2c%2027%2059%2c%2027%2058%20C27%2058%2c%2027%2058%2c%2027%2057%20L45%2040%20L27%2022%20C27%2022%2c%2027%2022%2c%2027%2021%20C27%2021%2c%2027%2021%2c%2027%2020%20L30%2018%20C30%2018%2c%2030%2018%2c%2031%2018%20C31%2018%2c%2031%2018%2c%2032%2018%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
#Carousel1 .carousel-control:hover .carousel-control-next-icon
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23FFFFFF%22%20viewBox%3d%220%200%2080%2080%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M52%2039%20C53%2039%2c%2053%2039%2c%2053%2040%20C53%2040%2c%2053%2041%2c%2052%2041%20L32%2062%20C31%2062%2c%2031%2062%2c%2031%2062%20C30%2062%2c%2030%2062%2c%2030%2062%20L27%2059%20C27%2059%2c%2027%2059%2c%2027%2058%20C27%2058%2c%2027%2058%2c%2027%2057%20L45%2040%20L27%2022%20C27%2022%2c%2027%2022%2c%2027%2021%20C27%2021%2c%2027%2021%2c%2027%2020%20L30%2018%20C30%2018%2c%2030%2018%2c%2031%2018%20C31%2018%2c%2031%2018%2c%2032%2018%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
#Carousel1 .frame-1
{
   background-color: transparent;
   background-image: url('1.jpeg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#Carousel1 .frame-2
{
   background-color: transparent;
   background-image: url('2.jpeg');
   background-repeat: repeat-x;
   background-position: center center;
   background-size: cover;
}
#Carousel1 .frame-3
{
   background-color: transparent;
   background-image: url('3.jpeg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#Carousel1 .frame-4
{
   background-color: transparent;
   background-image: url('4.jpeg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#Carousel1 .frame-5
{
   background-color: transparent;
   background-image: url('6.jpeg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#Carousel1 .frame-6
{
   background-color: transparent;
   background-image: url('7.jpeg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#Carousel1 .frame-7
{
   background-color: transparent;
   background-image: url('images/8.JPG');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#Carousel1 .frame-8
{
   background-color: transparent;
   background-image: url('images/9.JPG');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#Carousel1 .frame-9
{
   background-color: transparent;
   background-image: url('images/10.JPG');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#Carousel1 .frame-10
{
   background-color: transparent;
   background-image: url('images/11.JPG');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#Carousel1 .frame-11
{
   background-color: transparent;
   background-image: url('images/12.JPG');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
}
#Carousel1 .frame-12
{
   background-color: transparent;
   background-image: url('images/13.JPG');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
}
#Carousel1 .frame-13
{
   background-color: transparent;
   background-image: url('images/14.JPG');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
}
#Carousel1 .frame-14
{
   background-color: transparent;
   background-image: url('images/15.JPG');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
}
#Carousel1 .frame-15
{
   background-color: transparent;
   background-image: url('images/16.JPG');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
}
#Carousel1 .frame-16
{
   background-color: transparent;
   background-image: url('images/17.JPG');
   background-repeat: repeat;
   background-position: center center;
   background-size: contain;
}
#Carousel1 .frame-17
{
   background-color: transparent;
   background-image: url('images/18.JPG');
   background-repeat: repeat;
   background-position: center center;
   background-size: contain;
}
#Carousel1 .frame-18
{
   background-color: transparent;
   background-image: url('images/19.JPG');
   background-repeat: repeat;
   background-position: center center;
   background-size: contain;
}
#Carousel1 .frame-19
{
   background-color: transparent;
   background-image: url('images/20.JPG');
   background-repeat: repeat;
   background-position: center center;
   background-size: contain;
}
#Carousel1 .frame-20
{
   background-color: transparent;
   background-image: url('images/21.JPG');
   background-repeat: repeat;
   background-position: center center;
   background-size: contain;
}
#Carousel1 .frame-21
{
   background-color: transparent;
   background-image: url('images/22.jpg');
   background-repeat: repeat;
   background-position: center center;
   background-size: contain;
}
#Carousel1 .frame-22
{
   background-color: transparent;
   background-image: url('images/23.JPG');
   background-repeat: repeat;
   background-position: center center;
   background-size: cover;
}
#Carousel1 .frame-23
{
   background-color: transparent;
   background-image: url('images/24.JPG');
   background-repeat: repeat;
   background-position: center center;
   background-size: cover;
}
#Carousel1 .frame-24
{
   background-color: transparent;
   background-image: url('images/25.JPG');
   background-repeat: repeat;
   background-position: center center;
   background-size: cover;
}
#Carousel1 .frame-25
{
   background-color: transparent;
   background-image: url('images/26.JPG');
   background-repeat: repeat;
   background-position: center center;
   background-size: contain;
}
#PhotoGallery1
{
   box-sizing: border-box;
   font-size: 0;
   width: 100%;
   height: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#PhotoGallery1 .thumbnails
{
   margin: 0;
}
#PhotoGallery1 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   padding: 3px 3px 3px 3px;
   width: 25%;
   text-align: center;
   vertical-align: top;
}
#PhotoGallery1 .frame
{
   padding: 4px;
   background-color: #fff;
   border: 1px #DDDDDD solid;
   border-radius: 5px;
}
#PhotoGallery1 .thumbnail img
{
   border-width: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 100%;
   box-sizing: border-box;
   border-radius: 0px;
}
#PhotoGallery1 .clearfix:before,
#PhotoGallery1 .clearfix:after,
#PhotoGallery1 .thumbnails:before,
#PhotoGallery1 .thumbnails:after
{
   display: table;
   content: " ";
}
#PhotoGallery1 .clearfix:after,
#PhotoGallery1 .thumbnails:after
{
   clear: both;
}
#PhotoGallery1 .visible-col4
{
   display: block;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #0000FF;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0 0 10px 0;
   text-align: left;
}
#Heading2
{
   color: #0000FF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
   margin: 0;
   text-align: left;
}
#wb_Icon3
{
   background-color: #FFFFFF;
   background-image: none;
   border: 3px solid #D0D6D7;
   border-radius: 50%;
   text-align: center;
   margin: 0 10px 0 0 ;
   padding: 12px 12px 12px 12px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_Icon3 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_Icon3:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 3px solid #FFFFFF;
}
#Icon3
{
   height: 40px;
   width: 40px;
}
#Icon3 i
{
   color: #37414B;
   display: inline-block;
   font-size: 40px;
   line-height: 40px;
   vertical-align: middle;
   width: 39px;
}
#wb_Icon3:hover #Icon3 i
{
   color: #0AABE1;
}
#wb_Icon4
{
   background-color: #FFFFFF;
   background-image: none;
   border: 3px solid #D0D6D7;
   border-radius: 50%;
   text-align: center;
   margin: 0 10px 0 0 ;
   padding: 12px 12px 12px 12px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_Icon4 a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#wb_Icon4:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 3px solid #FFFFFF;
}
#Icon4
{
   height: 40px;
   width: 40px;
}
#Icon4 i
{
   color: #37414B;
   display: inline-block;
   font-size: 40px;
   line-height: 40px;
   vertical-align: middle;
   width: 39px;
}
#wb_Icon4:hover #Icon4 i
{
   color: #0AABE1;
}
